**/bin/
**/obj/
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.rcms.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/RCMS/.vs/RCMS/v17/.suo
/RCMS/.vs/RCMS/v17/DocumentLayout.json
/RCMS/.vs/ProjectEvaluation/rcms.metadata.v9.bin
/RCMS/.vs/ProjectEvaluation/rcms.projects.v9.bin
/RCMS/.vs/ProjectEvaluation/rcms.strings.v9.bin
/.idea/indexLayout.xml
/RCMS/.idea/.idea.RCMS/.idea/indexLayout.xml
/.idea/vcs.xml
/RCMS/.idea/.idea.RCMS/.idea/vcs.xml
