
<MudDrawer Anchor="Anchor" Open="Open" OpenChanged="OpenChanged"
           Elevation="1" Variant="@DrawerVariant.Temporary"
           Width="400px">
    <MudDrawerHeader Class="align-center">
        <MudIcon Class="mr-3" Icon="@Icons.Material.Filled.ManageSearch" />
        <MudText Typo="Typo.h6" Style="font-weight: bold;">@Title</MudText>
    </MudDrawerHeader>
    <div class="pa-6">
        @ChildContent
    </div>
</MudDrawer>

@code {

    [Parameter] public string Title { get; set; } = "Filter";
    [Parameter] public Anchor Anchor { get; set; } = Anchor.End;
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

}